/*general*/
*{
    padding: 0;
    margin: 0;
}
h1, h3, p{
    color: #ffffff;
}
.block{
    margin: 0 auto;
    width: 950px;
    text-align: center;
}
/*main*/
.main_background{
    background-image:url("img/norway.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 53.7em;
}
/*main_content*/
.main_txt h1{
    letter-spacing: 10px;
    text-transform: uppercase;
    font-size: 6rem;
    margin: -223px auto 0;
}
.main_txt h3{
    letter-spacing: 7px;
    font-weight: 300;
    font-size: 1.875rem;
    margin: 20px auto 59px auto;
}
/*bottom white band*/
.bottom_white_band{
    width:100%;
    height: 70px;
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
}
/*footer*/
.footer{
    background-color: #333333;
    height: 58px;
    text-align: center;
    padding-top: 40px;
    margin-top: -1px;
    margin-bottom: 70px;
}
.footer a, .footer p{
    display: inline-block;   
}
.footer a{
    color: #adcce9;
}
.footer a:hover{
    color: #ffffff;
}

